#fm-html5{
	.lyric-container{
		width: 510px;
		margin: 40px auto;
		position: relative;
		box-shadow: 0 0 20px rgba(0,0,0,0.2);
		border-radius: 3px;
		$originHeight: 300px;
		height: $originHeight;
		min-height: 220px;

		.download-lrc{
			position: absolute;
			right: 8px;
			top: 2px;
			color: rgba(112, 112, 112, 0);
			cursor: pointer;
			font-size: 12px;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
			-webkit-transition: color .3s ease-out;
			transition: color .3s ease-out;

			&:hover{
				color: rgba( 112 , 112 , 112 , .5);
			}
		}

		.lyric-wrapper{
			overflow: hidden;
			position: relative;
			width: 490px;
			margin: 0 auto;
			$gap: 25px;
			height: $originHeight - 2*$gap;
			top: $gap;
	
			&.none{
				&:after{
					position: absolute;
					content: "No Lyrics Founded...";
					top: 50%;
					line-height: 20px;
					font-size: 20px;
					margin-top: -10px;
					width: 100%;
					text-align:center;
					color: rgba(60,60,60,0.3);
					text-shadow: 0 0 2px rgba(0,0,0,0.3);
				}
			}

			ul.lyrics{
				text-align: center;
				position: relative;
				top: 50%;
				-webkit-transition: margin .5s ease-out;
				transition: margin .5s ease-out;

				li.lrc{
					line-height: 25px;
					color: #707070;
					text-shadow: 0 0 1px rgba(0,0,0,0.25);
					-webkit-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;

					&.on{
						color: #7CCA6F;
						text-shadow: 0 0 2px rgba(151,213,151,.5);
					}
				}
			}
		}
	}
}
